body {
  background: #eaeaea;
}

* {
  cursor: default;
  outline: none !important;
}

.app-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  .left {
    width: 210px;
    height: 100%;
    background: rgb(240, 249, 255);
    overflow-y: auto;
    flex-shrink: 0;
  }
  .right {
    flex-grow: 1;
    height: 100%;
  }
}

.empty-content {
  background: #fff;
  border-left: solid 1px @boder-color;
  height: 100%;
  display: flex;
  flex-direction: column;
  img {
    width: 40%;
    margin: auto;
    display: block;
    margin-top: 100px;
  }
  .wather {
    margin: auto;
  }
}

.right-content-container {
  height: 100%;
  border-left: solid 1px @boder-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .right-content-top {
    height: 50px;
    flex-shrink: 0;
    border-bottom: solid 1px @boder-color;
    background: #fff;
    line-height: 50px;
    font-size: 1.2em;
    padding: 0 16px;
  }
  .right-content {
    flex-grow: 1;
    background: #fff;
    border-bottom: solid 1px @boder-color;
    padding-left: 16px;
    padding-right: 16px;
    overflow: hidden;
    position: relative;
  }
}