<div class="app-container">
    <div class="left">
        <uib-accordion close-others="false">
            <uib-accordion-group heading="{{app.name}}" is-open="status.isFirstOpen"
                                 is-disabled="status.isFirstDisabled" ng-repeat="app in applist"
                                 ng-dblclick="show_app(app)">
                <div class="ellipsis" ng-repeat="api in app.apilist" ng-click="show_api(api)">
                    <span ng-if="api.is_confirm">new</span>
                    <h2>{{api.name}}</h2>
                    <p style="max-width: 110px;">{{api.url}}</p>
                </div>
            </uib-accordion-group>
        </uib-accordion>

    </div>
    <div class="right">
        <!-- 显示app的信息 -->
        <div ng-if="current_show_type=='app'">
            <h5>应用名称:{{current_app.name}}</h5>
            <h5>功能标记:{{current_app.flag}}</h5>
            <h5>应用类型:{{current_app.type_flag}}</h5>
            <h5>是否显示在应用列表:{{current_app.is_show}}</h5>
            <h5>应用描述:{{current_app.desc}}</h5>
            <h5>模块名:{{current_app.namespace}}</h5>
            <div class="ellipsis" ng-repeat="api in current_app.apilist">
                <h5>接口名:{{api.name}}</h5>
                <button class="btn btn-info" ng-click="show_api_detail(api)">查看详情</button>
                <h5>url:{{api.url}}</h5>
                <h5>函数路径:{{api.namespace}}</h5>
                <h5>最后修改时间:{{api.update_time}}</h5>
                <h5>是否可用:{{api.is_active}}</h5>
                <h5>参数信息:</h5>
                <table>
                    <tr>
                        <td>参数名</td>
                        <td>参数中文名</td>
                        <td>参数类型</td>
                        <td>是否必须</td>
                        <td>参数默认值</td>
                        <td>参数备注</td>
                        <td>修改时间</td>
                    </tr>
                    <tr ng-repeat="parm in api.parameterlist">
                        <td>{{parm.name}}</td>
                        <td>{{parm.title}}</td>
                        <td>{{parm.parm_type}}</td>
                        <td>{{parm.is_required?"是":"否"}}</td>
                        <td>{{parm.default===null?"null":parm.default===''?"空字符串":parm.default}}</td>
                        <td>{{parm.desc}}</td>
                        <td>{{parm.update_time}}</td>
                    </tr>
                </table>

                <h5>返回值:{{api.response_type=='list'?"列表":"字典"}}</h5>
                <table>
                    <tr>
                        <td>字段名</td>
                        <td>字段中文名</td>
                        <td>字段类型</td>
                        <td>字段备注</td>
                        <td>修改时间</td>
                    </tr>
                    <tr ng-repeat="parm in api.responselist">
                        <td>{{parm.name}}</td>
                        <td>{{parm.title}}</td>
                        <td>{{parm.value_type}}</td>
                        <td>{{parm.desc}}</td>
                        <td>{{parm.update_time}}</td>
                    </tr>
                </table>
                <label>
                    <input type="checkbox" class="pull-left" ng-checked="api.show_code==1"
                       ng-model="api.show_code" ng-true-value="1" ng-false-value="0">

                <div class="pull-left sign-text">显示源代码</div>
                </label>
                <textarea ng-if="api.show_code==1" ui-codemirror="apicodeOption" ng-model="api.code_content" ></textarea>
            </div>
        </div>
        <!-- 显示api的信息 -->
        <div ng-if="current_show_type=='api'">
            <div class="ellipsis">
                <h5>接口名:{{current_api.name}}</h5>
                <button class="btn btn-info" ng-click="show_api_detail(current_api)">查看详情</button>
                <h5>url:{{current_api.url}}</h5>
                <h5>函数路径:{{current_api.namespace}}</h5>
                <h5>最后修改时间:{{current_api.update_time}}</h5>
                <h5>是否可用:{{current_api.is_active}}</h5>
                <h5>参数信息:</h5>
                <table>
                    <tr>
                        <td>参数名</td>
                        <td>参数中文名</td>
                        <td>参数类型</td>
                        <td>是否必须</td>
                        <td>参数默认值</td>
                        <td>参数备注</td>
                        <td>修改时间</td>
                    </tr>
                    <tr ng-repeat="parm in current_api.parameterlist">
                        <td>{{parm.name}}</td>
                        <td>{{parm.title}}</td>
                        <td>{{parm.parm_type}}</td>
                        <td>{{parm.is_required?"是":"否"}}</td>
                        <td>{{parm.default===null?"null":parm.default===''?"空字符串":parm.default}}</td>
                        <td>{{parm.desc}}</td>
                        <td>{{parm.update_time}}</td>
                    </tr>
                </table>
                <h5>返回值:{{current_api.response_type=='list'?"列表":"字典"}}</h5>
                <table>
                    <tr>
                        <td>字段名</td>
                        <td>字段中文名</td>
                        <td>字段类型</td>
                        <td>字段备注</td>
                        <td>修改时间</td>
                    </tr>
                    <tr ng-repeat="parm in current_api.responselist">
                        <td>{{parm.name}}</td>
                        <td>{{parm.title}}</td>
                        <td>{{parm.value_type}}</td>
                        <td>{{parm.desc}}</td>
                        <td>{{parm.update_time}}</td>
                    </tr>
                </table>
                <label>
                    <input type="checkbox" class="pull-left" ng-checked="current_api.show_code==1"
                       ng-model="current_api.show_code" ng-true-value="1" ng-false-value="0">

                <div class="pull-left sign-text">显示源代码</div>
                </label>
                <textarea ng-if="current_api.show_code==1" ui-codemirror="apicodeOption" ng-model="current_api.code_content" ></textarea>

            </div>
        </div>
    </div>
</div>