
.translateX(@translateX) {
  -webkit-transform: translateX(@translateX);
  -moz-transform: translateX(@translateX);
  -ms-transform: translateX(@translateX);
  -o-transform: translateX(@translateX);
  transform: translateX(@translateX);
}

//圆角

.border(@border) {
  -webkit-border-radius: @border;
  -moz-border-radius: @border;
  border-radius: @border;;
}

//边距

.m-left(@m-left) {
  margin-left: @m-left;
}

.m-right(@m-right) {
  margin-right: @m-right;
}

.m-top(@m-top) {
  margin-top: @m-top;
}

.m-bottom(@m-bottom) {
  margin-bottom: @m-bottom;
}

.p-left(@p-left) {
  padding-left: @p-left;
}

.p-right(@p-right) {
  padding-right: @p-right;
}

.p-top(@p-top) {
  padding-top: @p-top;
}

.p-bottom(@p-bottom) {
  padding-bottom: @p-bottom;
}

//过渡时间

.time(@time) {
  -webkit-transition: @time;
  -moz-transition: @time;
  -ms-transition: @time;
  -o-transition: @time;
  transition: @time;
}

.translate(@x, @y) {
  -webkit-transform: translate(@x, @y);
  -ms-transform: translate(@x, @y); // IE9 only
  -o-transform: translate(@x, @y);
  transform: translate(@x, @y);
}

.transition-transform(@transition) {
  -webkit-transition: -webkit-transform @transition;
  -moz-transition: -moz-transform @transition;
  -o-transition: -o-transform @transition;
  transition: transform @transition;
}
.opacity(@opacity) {
  opacity: @opacity;
}