.cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  filter: alpha(opacity=60);
  background-color: #777;
  z-index: 1002;
  left: 0;
  display: none;
  opacity: 0.5;
  -moz-opacity: 0.5;
}