@import "../mixins";
.right-top-searchbtn {
  margin-left: 8px;
  padding: 6px 12px;
  border: none;
  .border(4px);
  background: #00AFF0;
  color: #fff;
}

.right-top-searchbtn:hover {
  background: #29abdc;
  color: #fff;
}

.top_search {
  position: absolute;
  top: 25px;
  right: 15px;
  z-index: 10;
  width: 240px;
  height: 30px;
  padding-left: 34px;
  padding-right: 10px;
  overflow: hidden;
  color: #b5ccdd;
  background: #009fd9 url("../images/home/img-search.png") no-repeat 10px 8px;
  -moz-box-shadow: inset 1px 1px 10px rgba(0, 159, 217, 0.1) !important;
  -webkit-box-shadow: inset 1px 1px 10px rgba(0, 159, 217, 0.1) !important;
  box-shadow: inset 1px 1px 10px rgba(0, 159, 217, 0.1) !important;
  border: 1px solid #009fd9 !important;
  .border(6px) !important;
  -webkit-transition-duration: 400ms;
  -webkit-transition-property: width, background;
  -webkit-transition-timing-function: ease;
  -moz-transition-duration: 400ms;
  -moz-transition-property: width, background;
  -moz-transition-timing-function: ease;
  -o-transition-duration: 400ms;
  -o-transition-property: width, background;
  -o-transition-timing-function: ease;

  &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #b5ccdd;
  }

  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #b5ccdd;
    opacity: 1;
  }

  &::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #b5ccdd;
    opacity: 1;
  }

  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #b5ccdd;
  }

  &:focus {
    width: 380px;
    border-color: rgba(0, 0, 0, 0);
    background: #fff url("../images/home/img-search.png") no-repeat 10px 8px;
    color: #333;
  }

  &:focus::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #d9d9d9;
  }

  &:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #d9d9d9;
    opacity: 1;
  }

  &:focus::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #d9d9d9;
    opacity: 1;
  }

  &:focus:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #d9d9d9;
  }
}

body {
  margin: 0;
  padding: 0;
  min-width: 900px;
  min-height: 602px;
  font-size: 14px;
  line-height: 150%;
  font-family: "冬青黑体简体中文", "Tahoma", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif !important;
  background: none;
  pre {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    white-space: pre-line;
  }
}

* {
  cursor: default;
  outline: none !important;
}

.dt-container {
  .border(6px);
  min-width: 900px;
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  box-shadow: 0 0 6px #727272;
  background: rgba(0, 0, 0, 0);
}

.dt-header {
  height: 70px;
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background: #00aff0 url("../images/home/logo.png") no-repeat 20px center;
  cursor: pointer;
}

.dt-body {
  position: absolute;
  top: 70px;
  left: 0px;
  right: 0px;
  bottom: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background: #f5f5f5;
}


.dt-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 110px;
  background: #eaf1fc;
  border-bottom-left-radius: 6px;
  border-right: 1px solid #d9d9d9;
}

.dt-view-content {
  position: absolute;
  left: 110px;
  top: 0;
  bottom: 0;
  right: 0;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}

.dt-con-content {
  position: absolute;
  left: 210px;
  top: 0;
  bottom: 0;
  right: 0;
  background: #f8fbff;
  border-bottom-right-radius: 6px;
  overflow: auto;
}

.application_empty_view {
  background: url("../images/empty_app.png") center center no-repeat;
}


.dt-sidebar-bottom {
  width: 54px;
  height: 50px;
  position: absolute;
  left: 22px;
  bottom: 63px;
}

.dt-sidebar-cog {
  width: 54px;
  height: 20px;
  border: none;
  font-size: 12px;
  text-align: right;
  vertical-align: text-top;
  padding: 0 0 6px 0;
  background: url("../images/home/cog.png") no-repeat 0 0;
}


.dt-sidebar-create {
  width: 54px;
  height: 20px;
  border: none;
  font-size: 12px;
  text-align: right;
  vertical-align: text-top;
  padding: 0 0 6px 0;
  margin-bottom: 10px;
  background: url("../images/home/create.png") no-repeat 2px 2px;
}

/*-----------------------------*/

.dt-con-sidebar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 210px;
  background: #f8fbff;
  border-right: 1px solid #dcdcdc;
  overflow: auto;
}

.dt-con-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  border-bottom: 1px solid #d9d9d9;
}

.dt-con-top-left {
  float: left;
  line-height: 50px;
  padding-left: 18px;
}

.dt-con-top-right {
  position: absolute;
  right: 18px;
  margin-right: 6px;
  margin-top: 13px;
  text-align: right;
  img {
    width: 24px;
    height: 24px;
    margin-left: 6px;
  }
}

.dt-con-bottom {
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom-right-radius: 6px;
}

.btn_red_blcok {
  position: relative;
}

.btn_red_blcok:before {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  overflow: hidden;
  background: red;
  position: absolute;
  top: 15px;
  right: 10px;
}


.dt-btn-group {
  overflow: hidden;
}


.people-name {
  color: #00aff0;
}

#message_block_right_empty {
  background: url("../images/empty_app.png") center center no-repeat;
}

.right-caozuo {
  padding-right: 15px;
}

.right-caozuo-button {
  width: 70px;
  padding: 6px 12px;
  border: none;
  .border(4px);
  background: #00AFF0;
  color: #fff;
}

.right-fujian-img {
  width: 80px;
  height: 82px;
  margin: 0 10px;
  float: left;
}

.detail-line-10 {
  height: 10px;
  background: #f5faff;
}


.detail-header {
  height: 60px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
}

.detail-body {
  overflow: auto;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 50px;
  padding-bottom: 60px;
  z-index: 30;
}

.detail-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  overflow: hidden;
  z-index: 100;
}
