<div class="container-fluid" style="height: 100%;width: 100%;overflow:auto">
    <div ng-repeat="item in tests">
        <button class="btn btn-default" ng-click="item.callback()">{{item.name}}</button>
    </div>

    <uib-accordion close-others="true">
        <uib-accordion-group heading="Static Header, initially expanded" is-open="status.isFirstOpen"
                             is-disabled="status.isFirstDisabled">
            This content is straight in the template.
        </uib-accordion-group>
        <uib-accordion-group heading="{{group.title}}" ng-repeat="group in groups">
            {{group.content}}
        </uib-accordion-group>
        <uib-accordion-group heading="Dynamic Body Content">
            <p>The body of the uib-accordion group grows to fit the contents</p>
            <button type="button" class="btn btn-default btn-sm" ng-click="addItem()">Add Item</button>
            <div ng-repeat="item in items">{{item}}</div>
        </uib-accordion-group>
        <uib-accordion-group heading="Custom template">
            Hello
        </uib-accordion-group>
        <uib-accordion-group heading="Delete account" panel-class="panel-danger">
            <p>Please, to delete your account, click the button below</p>
            <button class="btn btn-danger">Delete</button>
        </uib-accordion-group>
        <uib-accordion-group is-open="status.open">
            <uib-accordion-heading>
                I can have markup, too! <i class="pull-right glyphicon"
                                           ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </uib-accordion-heading>
            This is just some content to illustrate fancy headings.
        </uib-accordion-group>
    </uib-accordion>
    日历1
    <uib-datepicker ng-model="dt"></uib-datepicker>
    日历2
    <p class="input-group">
        <input type="text" class="form-control" uib-datepicker-popup ng-model="dt" is-open="data2.open"
               datepicker-options="dateOptions" ng-required="true" close-text="Close" ng-click="open2()"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open2()"><i
                    class="glyphicon glyphicon-calendar"></i></button>
          </span>
    </p>
    <uib-timepicker ng-model="mytime"></uib-timepicker>

    <hr>

    Upload on form submit or button click
    <form name="form">
        Single Image with validations
        <div class="btn btn-default" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
             ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
             ngf-resize="{width: 100, height: 100}">Select</div>
        Multiple files
        <div class="btn btn-default" ngf-select ng-model="files" ngf-multiple="true">Select</div>
        Drop files: <div ngf-drop ng-model="files" class="well">Drop</div>
        <button class="btn btn-default" type="button" ng-click="submit_file()">submit</button>
    </form>

    Upload right away after file selection:
    <div class="button" ngf-select="upload($file)">Upload on file select</div>
    <div class="button" ngf-select="uploadFiles($files)" multiple="multiple">Upload on file select</div>
    Drop File:
    <div ngf-drop="uploadFiles($files)" class="drop-box"
         ngf-drag-over-class="'dragover'" ngf-multiple="true"
         ngf-pattern="'image/*,application/pdf'">Drop Images or PDFs files here</div>
    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>

    Image thumbnail: <img ngf-thumbnail="file || '/thumb.jpg'">
    Audio preview: <audio controls ngf-src="file"></audio>
    Video preview: <video controls ngf-src="file"></video>
</div>
