.drop-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 70px;
  height: 20px;
  z-index: 1;
  &.dragover {
    border: blue;
  }
}

.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width:500px;
  height:350px;
}