<div class="app-container">
    <div class="left">
        <div ng-repeat="session in chat_session_list" class="chat-session-item ellipsis"
             ng-class="{'active':current_session==session}" ng-click="select_session(session)">
            <img ng-click="delete_session($event,session)" class="message-close" src="images/message/del_message.png">
            <img ng-src="{{session.icon_url}}" src="images/main/header.png">
            <span ng-bind="session.last_message_time|format_datetime"></span>
            <h2 ng-bind="session.name"></h2>
            <p style="max-width: 110px;" ng-bind="session.last_message.content.text"></p>
            <span ng-if="session.unread" class="badge" ng-bind="session.unread"></span>
        </div>
    </div>
    <div class="right">
        <div ng-if="current_session" class="message-content-container">
            <div class="message-top">

            </div>
            <perfect-scrollbar on-scroll="scroll(scrollTop)" scroll-down="{{scroll_down}}" refresh-on-change="message_list" refresh-on-resize="true" suppress-scroll-x="true" class="message-content" wheel-propagation="true"
                               wheel-speed="10" min-scrollbar-length="20">

                <div class="message-item" ng-repeat="message in message_list">
                    <div ng-class="{'target-message-item':message.fuser!==my_user_info.id,'my-message-item':message.fuser===my_user_info.id}">
                        <!--<div ng-class="{'target-message-item':$index%2==0,'my-message-item':$index%2==1}">-->
                        <div class="messag-profile-info">
                            <div class="message-name">
                                {{message.fname}}
                            </div>
                            <div class="message-time">
                                {{message.time|format_datetime}}
                            </div>
                        </div>
                        <div class="message-info">
                            <img class="messge-header-img" src="images/main/header.png">
                            <div class="messag-block">
                                <div class="msg-bubble-tri"></div>
                                <div class="message-txt" ng-if="message.ctype ==='txt'" ng-bind="message.content.text"></div>
                            </div>
                            <div class="message-control-container">
                                <i class="message-control glyphicon glyphicon-option-horizontal"></i>
                                <span class="read-state">已读</span>
                            </div>
                        </div>
                    </div>

                </div>


            </perfect-scrollbar>
            <div class="message-bottom">
                <div class="message-bottom-left">
                    <div class="toolbar">
                        <button class="btn btn-default btn-sm">附件</button>
                    </div>
                    <div contenteditable ng-model="$parent.input_content" class="input-area"></div>
                </div>
                <button ng-disabled="!input_content" class="btn btn-default send-button" ng-click="send_text()">发送消息</button>
            </div>
        </div>
        <div ng-if="!current_session" class="empty-content">
            <img src="images/empty.png">
            <div class="wather">
                <iframe allowtransparency="true" frameborder="0" width="290" height="96" scrolling="no"
                        src="http://tianqi.2345.com/plugin/widget/index.htm?s=1&z=1&t=0&v=0&d=2&bd=0&k=000000&f=&q=1&e=1&a=1&c=54527&w=290&h=96&align=center"></iframe>

            </div>
        </div>

    </div>
</div>