<div class="app-container">
    <div class="left">
        <div ng-repeat="sesion in chat_session_list" class="message-list ellipsis">
            <img class="message-close" src="images/message/del_message.png">
            <img src="images/main/header.png">
            <span ng-bind="sesion.last_message_time|format_datetime"></span>
            <h2 ng-bind="sesion.name"></h2>
            <p style="max-width: 110px;" ng-bind="sesion.last_message.content.text"></p>
        </div>

    </div>
    <div class="right">
        <div class="message-item" ng-repeat="message in message_list">

        </div>
        <button class="btn btn-default" ng-click="send_text()">发送消息</button>
    </div>
</div>