<div class="app-container">
    <div class="left">
        <div class="message-list ellipsis">
            <img class="message-close" src="images/message/del_message.png">
            <img src="images/main/header.png">
            <span>18:01</span>
            <h2>姓名</h2>
            <p style="max-width: 110px;">最后内容</p>
        </div>

    </div>
    <div class="right">
        <div class="message-item" ng-repeat="m in messages">
            {{m}}
        </div>
        <button class="btn btn-default" ng-click="send_text()">发送消息</button>
    </div>
</div>