<div class="dt-container">
    <div class="dt-header" id="dt-header" style="position: relative;-webkit-app-region: drag;">
        <div class="windows-close" onclick="close_window()" style="-webkit-app-region: no-drag;">
            <img src="images/main/guanbi.png">
        </div>
        <div id="div_normal" style="display:none;-webkit-app-region: no-drag;" class="normal"
             onclick="maxed_normed_window()">
            <img src="images/main/shizhong.png">
        </div>
        <div id="div_max" class="maximize" onclick="maxed_normed_window()" style="-webkit-app-region: no-drag;">
            <img src="images/main/suoxiao.png">
        </div>
        <div class="minimize" onclick="mined_window()" style="-webkit-app-region: no-drag;">
            <img src="images/main/zuixiao.png">
        </div>
        <input type="search" class="top_search" style="-webkit-app-region: no-drag;" id="top_search"
               placeholder="搜索联系人">
    </div>
    <div class="dt-body"><!--内容部分-->
        <div class="dt-sidebar"><!--侧边栏-->
            <div class="dt-profile">
                <div class="inline-block" style="margin-top: 18px">
                    <div class="dt-img"><img ng-src="{{main_view.my_user_info.icon_url}}" src="images/main/header.png"
                                             id="current_img">
                    </div>
                    <!--头像-->
                    <div class="dt-name">{{main_view.my_user_info.realname||'...'}}</div>
                    <!--姓名4个字以上转成省略号-->
                </div>
            </div>

            <div class="dt-menu" ui-sref-active="active" ui-state="'main.push'">
                <span class="icon_container"><img src="images/main/push.png"></span>&nbsp;&nbsp;PUSH
                <span class="badge badge-danger pull-right" style="background: red;color: #fff;"></span>
            </div>
            <div class="dt-menu" ui-sref-active="active" ui-state="'main.message'">
                <!--消息菜单-->
                <span class="icon_container"><img src="images/main/xiaoxi.png"></span>&nbsp;&nbsp;消息
                <span class="badge badge-danger pull-right" style="background: red;color: #fff;"></span>
            </div>
            <div class="dt-menu" ui-sref-active="active" ui-state="'main.contacts'">
                <span class="icon_container"><img src="images/main/lianxiren.png"></span>&nbsp;&nbsp;联系人
                <span class="badge badge-danger pull-right" style="background: red;color: #fff;"></span>
            </div>
            <div class="dt-menu" ui-sref-active="active" ui-state="'main.application'">
                <span class="icon_container"><img src="images/main/yingyong.png"></span>&nbsp;&nbsp;应用
                <span class="badge badge-danger pull-right" style="background: red;color: #fff;"></span>
            </div>

            <div class="dt-sidebar-bottom dropup">
                <button class="dt-sidebar-file">云盘</button>
                <button class="dt-sidebar-create">创建</button>
                <button popover-placement="auto" popover-append-to-body="true"
                        uib-popover-template="'templates/main/setting_popover.html'"
                        popover-trigger="focus"
                        class="dt-sidebar-cog"
                        aria-haspopup="true"
                        aria-expanded="false">设置
                </button>

            </div>
        </div>
        <!--侧边栏结束-->
        <div class="dt-view-content" ui-view>

        </div>
    </div>
</div>
